
*.mod

*.obj

*.zip

CMakeCache.txt
CMakeFil*
Makefile
cmake_install.cmake
cms
mfiles/*
lstf/*
planar/
junk
benson_beach
south_padre
spike_run
doc
frf
run_model.m*
cms_noswash
do_not_git
tar_bundle*
brad_notes.*
for*.png
*.suo

*.user

*genmod.f90
*.exe.intermediate.manifest

Intel_vs2013/Debug/
Intel_vs2013/Release/
Intel_vs2013/x64/Debug/
Intel_vs2013/x64/Release/

Intel_vs2017/Debug/
Intel_vs2017/Release/
Intel_vs2017/x64/Debug/
Intel_vs2017/x64/Release/

*.htm

*.dll

Intel_vs2019/x64/Release/
Intel_vs2019/CMS2D_V5p2.u2d
Intel_vs2019/x64/Debug/
Intel_vs2019/x64/Release/

Intel_vs2019/.vs/

CMS2D_V5.3.exe
